seng301-asgn4.vstudio/seng301-asgn4/obj/Debug/seng301A4.csproj.FileListAbsolute.txt
seng301-asgn4.vstudio/.vs/seng301A4.vstudio/v14/.suo
seng301-asgn4.vstudio/seng301-asgn4/bin/Debug/seng301-asgn4.dll
seng301-asgn4.vstudio/seng301-asgn4/bin/Debug/seng301-asgn4.pdb
seng301-asgn4.vstudio/seng301-asgn4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
seng301-asgn4.vstudio/seng301-asgn4/obj/Debug/seng301-asgn4.dll
seng301-asgn4.vstudio/seng301-asgn4/obj/Debug/seng301-asgn4.pdb